* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(233, 233, 233, 0.925);
}

video {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    object-fit: cover;
    opacity: .5;
}

.containerForm {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerForm Form {
    padding: 2rem;
    border-radius: 17px;
    background-color: #fff;
    border: 1px solid beige;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.itemSideBar-link {
    width: 100%;
    text-decoration: none;
}

.btn-info-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLogin {
    width: 30rem;
}

.formLogin .btn-info-login {
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-form {
    font-weight: 600;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

.main-nav-pages {
    height: 5rem;
    background-color: #333;
}

.main-navbar {
    background-color: #002A40;
    border-bottom: 2px solid darkgoldenrod;
    position: relative;
    height: 7vh;
}

.main-left-navigation {
    height: 93vh;
    width: 18%;
    background-color: #002a40;
    display: flex;
    justify-content: center;
    border-right: 2px solid darkgoldenrod;
    position: fixed;
}

.titleNavbar {
    color: #fff;
}

.titleNavbar:hover {
    color: #fff;
}

.listItemSideBar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.itemSideBar {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background: none;
    border: none;
    gap: 1.5rem;
    padding: 0 1rem;
    color: #fff;
}

.itemSideBar:hover {
    transition: 200ms all ease-in;
    background-color: #00547F;
}

.content-page {
    width: 80%;
    height: 93vh;
    margin-left: 19%;
    overflow-y: hidden;
}

.container-table {
    width: 100%;
    margin-top: 1rem;
}

.container-buttons {
    display: flex;
    justify-content: end;
    margin-top: 2%;
}

.container-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-editBook {
    padding: 3px;
    border: none;
    background-color: goldenrod;
    color: #fff;
    margin-right: .2rem;
}

.btn-deleteBook {
    padding: 3px;
    border: none;
    background-color: red;
    color: #fff;
    margin-left: .2rem;
}

.page_404 {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Arvo', serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    width: auto;
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 500px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.contant_box_404 {
    margin-top: -50px;
}

.body-home-page {
    margin-left: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93vh;
}

.main-header {
    padding-left: 1rem;
    font-family: sans-serif;
}

.logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.eslogan {
    font-size: 30px;
    font-weight: bold;
}

.main-content {
    padding-left: 1rem;
    background: transparent;
    color: #000;
    font-family: sans-serif;
}

.intro {
    margin-bottom: 20px;
}

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #000;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #ff5e14;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.copyright-area {
    background: #002A40;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #ff5e14;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ff5e14;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.loader {
    margin: 5% auto 30px;
}

.book {
    border: 4px solid #FFFFFF;
    width: 60px;
    height: 45px;
    position: relative;
    perspective: 150px;
}

.page {
    display: block;
    width: 30px;
    height: 45px;
    border: 4px solid #FFFFFF;
    border-left: 1px solid #00547F;
    margin: 0;
    position: absolute;
    right: -4px;
    top: -4px;
    overflow: hidden;
    background: #00547F;
    transform-style: preserve-3d;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.book .page:nth-child(1) {
    -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
    animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
}

.book .page:nth-child(2) {
    -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
    animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
}

.book .page:nth-child(3) {
    -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
    animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
}


/* Page turn */

@-webkit-keyframes pageTurn {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    20% {
        background: #00547F;
    }

    40% {
        background: #00547F;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    100% {
        background: #00547F;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

@keyframes pageTurn {
    0% {
        transform: rotateY(0deg);
    }

    20% {
        background: #00547F;
    }

    40% {
        background: #00547F;
        transform: rotateY(-180deg);
    }

    100% {
        background: #00547F;
        transform: rotateY(-180deg);
    }
}

@-webkit-keyframes Dots {
    0% {
        content: "";
    }

    33% {
        content: ".";
    }

    66% {
        content: "..";
    }

    100% {
        content: "...";
    }
}

@keyframes Dots {
    0% {
        content: "";
    }

    33% {
        content: ".";
    }

    66% {
        content: "..";
    }

    100% {
        content: "...";
    }
}

.title-home-page-animation {
    color: #FFFFFF;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
}

.title-home-page-animation:after {
    position: absolute;
    content: "";
    -webkit-animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
    animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
}