* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.containerForm {
    background-color: #333;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerForm Form {
    padding: 2rem;
    border-radius: 17px;
    background-color: #fff;
    border: 1px solid beige;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.btn-info-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLogin {
    width: 30rem;
}

.formLogin .btn-info-login {
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-form {
    font-weight: 600;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

.main-nav-pages {
    height: 5rem;
    background-color: #333;
}